@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

body {
    background-color: #f7f7f2;
    font-family: 'Poppins', sans-serif;
    color: #2e282a;
}

header {
    border: 2px solid black;
}

main {
    text-align: center;
}

main h3 {
    font-weight: bold;
}

header li a {
    display: inline;
    text-decoration: none; 
    color: #e4572e; 
}

nav ul {
    padding-left: 0;
    text-align: center;
}

header ul li {
    display: inline;
  }


nav ul li a {
    color: #e4572e; 
    text-decoration: none; 
}

nav ul li a:hover {
    color: #80492d; 
}

.phones {
    display: inline-block; 
    margin: 10px; 
}
  
  .phones img {
    width: 300px; 
    height: 200px; 
    margin: 10px; 
}
  
  footer {
    border: 2px solid black;
    text-align: center;
}

img[src="star.png"] {
    max-height: 30px;
    max-width: 30px;
}